# Dependencies
node_modules/
**/node_modules/

# Production build output
dist/
**/dist/

# Logs
*.log
logs/

# Environment files
.env
.env.local
.env.*.local

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.zip
node_modules
